@{
    ViewData["Title"] = "О приложении МояЭкономия";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Данные серсис позволяет пользователю отслеживать и контролировать расходы на мобильную связь. Вся информация, 
    используется в рамках представления информации по расходами - строго конфиденциальна.</p>
