@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2 style="color: #1c98ad;">СЕРВИС АНАЛИЗА ДЕТАЛИЗИРОВАННОГО ОТЧЁТА</h2>
        <h4 style="color: #1c98ad;">
            Для того, чтобы отобразить панель выбора данных нажмите на синюю
            кнопку "Меню" в верхнем правом углу
        </h4>
        <div class="back-image">
            <img src="~/Images/back-logo.png" />
        </div>
        <div class="input-group input-file">
            <div class="form-control">
                <a href="/path/to/your/current_file_name.pdf" target="_blank">current_file_name.pdf</a>
            </div>
            <span class="input-group-addon">
                <a class='btn btn-primary' href='javascript:;'>
                    Browse
                    <input type="file" name="field_name" onchange="$(this).parent().parent().parent().find('.form-control').html($(this).val());">
                </a>
            </span>
        </div>

    </div>
</div>




